<table mat-table [dataSource]="data" class="mat-elevation-z8">
  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef class="subjectsHeader">
      <b> subject </b>
    </th>
    <td mat-cell *matCellDef="let element" class="subjectsRows">
      <p>{{ element["subject"] }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef class="messagesHeader">
      <b>message</b>
    </th>
    <td mat-cell *matCellDef="let element" class="messagesRows">
      <p>{{ element["message"] }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actionsHeader"></th>
    <td mat-cell *matCellDef="let element" class="actionsRows">
      <button mat-button class="btn btn-primary p-1">
        <a class="btn text-white p-0" [routerLink]="['/mail', element.id]">
          Send</a
        >
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
